<header>
  <img src="assets/img/felipe.jpg"
       alt="Felipe Campos - Foto de Perfil"
       width="130"
       height="130"
       loading="eager"/>
  <h1>Felipe Campos</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Spring Boot | JSF | Primefaces | Angular | PostgreSQL</p>
    <p>David Canabarro, Rio Grande do Sul, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 4 anos. Devido isso
      resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/felipecamposdafonseca/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
             alt="Icone para contato do WhatsApp"
             width="22"
             height="24"/>

        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5554996965044&text=Ol%C3%A1%20Felipe,%20preciso%20de%20um%20job!"
             target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (54) 9 9696-5044</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg"
             alt="Icone para contato do E-mail"
             width="22"
             height="24"/>

        <figcaption>
          <a href="mailto:felipecamposlv@gmail.com"
             target="_blank"
          >
            <strong>Envie um e-mail para:</strong>
            <p>felipecamposlv&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>

  </div>
</aside>
